.perfil-box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 50px;
  transform: translate(-40%, -40%);
  background: rgba(48, 1, 1, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(4, 0, 37, 0.6);
  border-radius: 10px;   
}

.perfil-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.perfil-box .user-box {
  position: relative;
}

.perfil-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.perfil-box button{
  position: relative;
  display: inline-block;
  padding: 13px 22px;
  color: #b79726;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .6s;
  margin-top: 40px;
  letter-spacing: 5px;
  background: transparent;
  border: none;
}

.perfil-box button:hover{
  background: #f49803;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f4c803,
      0 0 25px #bd9d0b,
      0 0 50px #f4e403,
      0 0 100px #d5cf1e;
}